<div clas='d-flex flex-row flex-wrap'>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="#"><i class='fas fa-home'></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pie-report">Gráfica de Pie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bar-report">Gráfica de Barras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bar-range-report">Gráfica de Barras 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="eight-column-report">8 Columnas</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class='d-flex flew-row flex-wrap justify-content-center mt-3'>
  <router-outlet></router-outlet>
</div>
